*{
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  box-shadow: 0 0 30px #eee;
  width: 375px;
  height: 724px;
  .page{
    .head{
      padding: 20px;
      background-color: #3a37d5;
      border-bottom-left-radius: 20px;
      color: white;
      .nav{
        height: 34px;
        width: 335px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .function-button{
          width: 20px;
          height: 20px;
          filter: invert(1);
          cursor: pointer;
        }
        .profile{
          display: flex;
          align-items: center;
          span{
            display: inline-block;
            margin-right: 10px;
          }
          img{
            width: 34px;
            height: 34px;
            border-radius: 11px;
          }
        }
      }
      .money{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 54px;
        .total{
          span.title{
            font-family: "open sans", sans-serif;
            font-size: 14px;
            opacity: 0.6;
          }
          .money-data{
            display: flex;
            align-items: center;
            justify-content: space-between;
            span{
              display: inline-block;
              margin-bottom: 4px;
              font-size: 26px;
            }
            img{
              width: 24px;
              height: 24px;
              margin-right: 10px;
              filter: invert(1);
            }
          }
        }
        .add-money{
          height: 44px;
          display: flex;
          align-items: center;
          background-color: #4e4bd9;
          padding: 1px 6px;
          border-radius: 10px;
          cursor: pointer;
          &:hover{
            background-color: #3656f8;
          }
          img{
            filter: invert(1);
            margin-right: 10px;
          }
        }
      }
      .coin-types{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        .coin-item{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 60px;
          cursor: pointer;
          padding: 5px;
          background-color: #3a37d5;
          &:hover{
            background-color: #000;
            border-radius: 10px;
            filter: invert(1);
          }
          .coin-icon img{
            width: 30px;
            height: 30px;
            filter: invert(1);
          }
          .coin-name{
            font-size: 14px;
            font-family: "open sans", sans-serif;
          }
        }
      }
    }
    .intro{
      margin-top: 40px;
      padding: 0 20px;
      width: 335px;
      height: 188px;
      .title{
        font-size: 22px;
        font-weight: 580;
      }
      .content{
        margin: 10px 0;
        font-size: 14px;
        color: #777;
        letter-spacing: 0.18px;
        font-family: "open sans", sans-serif;
        line-height: 25px;
      }
      .read-more{
        display: flex;
        justify-content: center;
        align-items: center;
        &::before,
        &::after{
          content: "";
          width: 30%;
          height: 2px;
          border-bottom: 1px solid #e9e9f9;
        }
        .icon{
          width: 30px;
          height: 30px;
          border: 1px solid #e9e9f9;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          &:hover{
            filter: drop-shadow(0 0 20px #3937cd);
          }
          .chevron-down{
            width: 10px;
            height: 10px;
            border-bottom:3px solid #3a37d5;
            border-right:3px solid #3a37d5;
            border-radius: 3px;
            transform: rotate(45deg) translateY(-8%) translateX(-8%);
          }
        }
      }
    }
    .transactions{
      width: 335px;
      padding: 20px;
      .title{
        font-size: 22px;
        font-weight: 580;
      }
      .list{
        .list-item{
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;
          .trans-info{
            display: flex;
            align-items: center;
            img{
              width: 50px;
              height: 50px;
              border-radius: 11px;
              margin-right: 10px;
            }
            .trans-brief{
              display: flex;
              flex-direction: column;
              span.name{
                font-size: 16px;
                font-weight: 550;
              }
              span.trans-count{
                font-size: 14px;
                color: #454545;
              }
            }
          }
          .trans-amount{
            display: flex;
            width: 112px;
            height: 40px;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            border: 1px solid #e2e2e2;
            border-radius: 6px;
            &:hover{
              box-shadow: 0 0 10px #eee;
            }
            img{
              width: 18px;
              height: 18px;
            }
            span {
              font-size: 16px;
              font-weight: 550;
            }
          }
        }
      }
    }
  }
}
